*,
*::before,
*::after
    box-sizing: border-box

html,
body
    height: 100%

body
    font-family: "Oxygen", "Trebuchet MS", Tahoma, sans-serif
    color: #0a0e2a
    background-color: lavender
    margin: 0
    overflow-x: hidden

a
    color: indianred

.heading
    margin-top: 0

.page
    margin: 0 auto
    padding: 48px 24px
    max-width: 960px

.blog-list
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))
    grid-gap: 36px

.post-preview
    background: snow
    border-radius: 8px
    overflow: hidden


    &__img
        max-width: 100%
        width: 100%
        height: 320px
        object-fit: cover


    &__text
        padding: 16px

.link-wrapper
    margin-bottom: 32px


    & a
        font-weight: bold

.post
    background: snow
    padding: 24px
    border-radius: 8px


    &__img
        max-width: 100%
        width: 100%
        height: 480px
        object-fit: cover
        margin-bottom: 32px

    // @import "mixins"

// *,
// *::before,
// *::after
//     box-sizing: border-box

// html,
// body
//     height: 100%

// body
//     font-family: "Oxygen", "Trebuchet MS", Tahoma, sans-serif
//     color: #0a0e2a
//     background-color: lavender
//     margin: 0
//     overflow-x: hidden

// a
//     color: indianred

// .container, .image, .text
//     @include desktop
//         width: 100%
//         flex-direction: column

// .page
//     margin: 0 auto
//     padding: 48px 24px
//     max-width: 960px

// .blog-list
//     display: grid
//     grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))
//     grid-gap: 36px

// .post-preview
//     background: snow
//     border-radius: 8px
//     overflow: hidden

//     &__img
//         max-width: 100%
//         width: 100%
//         height: 320px
//         object-fit: cover

//     &__text
//         padding: 16px

// .link-wrapper
//     margin-bottom: 32px

//     & a
//         font-weight: bold

// .post
//     background: snow
//     padding: 24px
//     border-radius: 8px

//     &__img
//         max-width: 100%
//         width: 100%
//         height: 480px
//         object-fit: cover
//         margin-bottom: 32px
