.title
    margin: 0
    line-height: 1.2ww5
    font-size: 2.1rem
    span
        color: #013026
        text-decoration: none
        &:hover
            font-size: 2.1rem
            color: #000

.description
    text-align: center
    line-height: 1.5
    font-size: 1.5rem
